{%  extends "OrgaController/base.html" %}

{% block header %}
<a href="{{ path('orga.index') }}" data-target="body"  class="ui basic inverted button">
    <i class="factory icon"></i>Organisations
</a>
{% endblock %}

{% block body %}
<h1>{{byId.name}}</h1>
<table class="ui celled table">

    <tr>
        <th><h3>Groupes</h3></th>
        <th><h3>Utilisateurs</h3></th>
    </tr>

    <tr>
        <td>
            {% for groupe in byId.groupes %}
            <li>{{groupe.name}}
                <a href=""></a>
            </li>
            {% endfor %}
        </td>

        <td>
            {% for user in byId.users %}
            <li>{{user.Firstname}}
                <a href=""></a>
            </li>
            {% endfor %}
        </td>
    </tr>

</table>
{% endblock %}